<div class="main">
  <section class="first">
    <div class="bg-cover" style="background-image: url(assets/images/slider_image_home@1x.png);"></div>
    <div class="bg-overlay"></div>
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-8 col-lg-7">

          <!-- logo -->
          <p class="text-center text-sm animate" data-animation="fadeUp" data-animation-order="0" data-animation-trigger="entered">
            <img src="assets/images/logo_slider_home@1x.png" />
          </p>

          <!-- Menu -->
          <nav class="navbar navbar-expand-xl navbar-dark">
            <div class="container">
              <div class="d-flex ml-auto">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#globalNavbar" aria-controls="globalNavbar"
                  aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              </div>
              <div class="collapse navbar-collapse" id="globalNavbar">
                <ul class="navbar-nav mr-auto order-1">
                  <a class="p-2 text-white text-uppercase text-center" href="#">Home</a>
                  <a class="p-2 text-white text-uppercase text-center" href="#">Our Services</a>
                  <a class="p-2 text-white text-uppercase text-center" href="#">Offer</a>
                  <a class="p-2 text-white text-uppercase text-center" href="#">My account</a>
                  <a class="p-2 text-white text-uppercase text-center" href="#">Pro</a>
                  <a class="p-2 text-white text-uppercase text-center" href="#">Contact us</a>
                  <a class="p-2 text-white text-uppercase text-center" href="#">Pl</a>
                </ul>
              </div>

            </div>
          </nav>

          <h1 class="text-white text-uppercase text-center mb-4 animate" data-animation="fadeUp" data-animation-order="1" data-animation-trigger="entered">
              Pumper your self pretty
          </h1>

          <!-- text -->
          <p class="lead text-white text-center mb-5 animate" data-animation="fadeUp" data-animation-order="2" data-animation-trigger="entered">
            Treat yourself to one of our signature services. Our beloved beauty experts will wow your brows, get you glowin and so much more. You'll leave looking and feeling more gorgeous than ever before.
          </p>

          <!-- Button -->
          <p class="text-white text-center mb-0 animate" data-animation="fadeUp" data-animation-order="3" data-animation-trigger="entered">
            <a href="" target="_blank" class="btn btn-action text-white">
              I reserve
            </a>
          </p>
          <p class="text-center scroll">
            <img src="assets/images/ic_scroll@1x.png"/>
          </p>
        </div>
      </div>
      <!-- / .row -->
    </div>
  </section>