<section class="capital">
  <div class="bg-cover" style="background-image: url(assets/images/recomended_background_image@1x.png);"></div>
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-8 col-lg-7">
        <h4 class="text-uppercase">Tested, approved & recomanded by</h4>
        <div class="title" style="background: url('assets/images/title_line_category_2@1x.png') no-repeat center;"></div>
        <p class="p-5">
          <img src="assets/images/capital_logo@1x.png" />
        </p>
        <!-- text -->
        <p class="lead text-white text-center mb-4 animate" data-animation="fadeUp" data-animation-order="2" data-animation-trigger="entered">
          "Myglam app takes up the much needed mantle of beauty consierge in Central London"
        </p>

        <div class="text-center">
          <div class="dot active" style="background-image: url(assets/images/slider_dot_pressed@1x.png);"></div>
          <div class="dot inactive" style="background-image: url(assets/images/slider_dot_normal@2x.png);"></div>
          <div class="dot inactive" style="background-image: url(assets/images/slider_dot_normal@2x.png);"></div>
          <div class="dot inactive" style="background-image: url(assets/images/slider_dot_normal@2x.png);"></div>
        </div>
      </div>
    </div>
  </div>
</section>